.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ServicesPage {
  padding: 20px;
  min-width: 30%;
}

.ServiceList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  margin-top: 20px;
  border: 1px solid #c4c4c5;
}

.ServiceWrapperValue {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.ServiceItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
  border-bottom: 1px solid #c4c4c5;
  padding: 10px;
}

.ServiceItem:nth-last-child(1) {
  border-bottom: none;
}

.ServiceButton {
  border: none;
  background-color: #db3948;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  padding: 7px 9px;
  margin-left: 20px;
  cursor: pointer;
}

.EditServicePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 30%;
  min-height: 100px;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #c4c4c5;
}

.EditServiceForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.EditServiceForm > input {
  border: 1px solid #c4c4c5;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.ButtonsBlock {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-bottom: 10px;
}

.CancelButton {
  margin-right: 15px;
}

.CancelButton, .ChangeButton {
  border: none;
  background-color: #db3948;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  color: white;
}